Repository pc2/Aurora-HLS: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tb:nfc, tb:monitor, tb:configuration, build:hlslib_test, build:hlslib_example

Path conditions:
  tb:nfc: any of: rtl/aurora_hls_nfc.v, rtl/aurora_hls_nfc_tb.v, tcl/run_nfc_tb.tcl, .gitlab-ci.yml
  tb:monitor: any of: rtl/aurora_hls_monitor.v, rtl/aurora_hls_monitor_tb.v, tcl/run_monitor_tb.tcl, .gitlab-ci.yml
  tb:configuration: any of: rtl/aurora_hls_configuration.v, rtl/aurora_hls_configuration_tb.v, tcl/run_configuration_tb.tcl, .gitlab-ci.yml
  build:hlslib_test: any of: emulation/**, .gitlab-ci.yml
  build:hlslib_example: any of: emulation/**, .gitlab-ci.yml

disable default axi drain on reset
  Makefile
Due: none

update monitor module to count all error types
  host/Aurora.hpp
  rtl/aurora_hls_monitor.v
  rtl/aurora_hls_monitor_tb.v
Due: tb:monitor

add latency counter to nfc module
  rtl/aurora_hls_nfc.v
  rtl/aurora_hls_nfc_tb.v
Due: tb:nfc

add lost block diagram
  images/block_diagram.drawio.png
Due: none

disable default nfc probe
  Makefile
Due: none

nfc test over all message sizes in ci
  .gitlab-ci.yml
Due: tb:nfc, tb:monitor, tb:configuration, build:hlslib_test, build:hlslib_example

update README.md
  README.md
Due: none

plot streaming and framing
  eval/data.csv
  eval/eval.ipynb
  eval/plot.ipynb
Due: none

update images
  images/block_diagram.drawio.png
  images/reset_diagram.drawio.png
Due: none

add resources plot
  .gitignore
  eval/plot.ipynb
  eval/resources.csv
Due: none

add rx/tx counter
  Makefile
  host/Aurora.hpp
  host/Results.hpp
  rtl/aurora_hls.v.template.v
  rtl/aurora_hls_control_s_axi.v
  rtl/aurora_hls_io.v
  rtl/aurora_hls_monitor.v
  rtl/aurora_hls_monitor_tb.v
  rtl/aurora_hls_nfc.v
  scripts/collect_all.sh
  scripts/synth_all.sh
Due: tb:nfc, tb:monitor

give internal stream a depth
  hls/dump.cpp
  hls/issue.cpp
Due: none

add reset diagram
  images/reset_diagram.drawio.png
Due: none

export new status data
  eval/eval.ipynb
  host/Aurora.hpp
  host/Results.hpp
  host/host_aurora_hls_test.cpp
  rtl/aurora_hls.v.template.v
  rtl/aurora_hls_control_s_axi.v
Due: none

Update plots and UDP results
  eval/data.csv
  eval/plot.ipynb
Due: none

update results
  eval/latency_tests.csv
Due: none

Remove empty needs-parameter in CI
  .gitlab-ci.yml
Due: tb:nfc, tb:monitor, tb:configuration, build:hlslib_test, build:hlslib_example

update plots
  README.md
  eval/data.csv
  eval/eval.ipynb
  eval/latency_over_frame_sizes.csv
  eval/latency_tests.csv
  eval/plot.ipynb
Due: none

add MPI+PCIE to plots
  eval/plot.ipynb
Due: none

rename to aurora_flow
  Makefile
  README.md
  aurora_flow_test_hw.cfg
  aurora_flow_test_sw_emu.cfg
  aurora_hls_test_hw.cfg
  host/Aurora.hpp
  host/Configuration.hpp
  host/host_aurora_flow_test.cpp
  host_aurora_flow_test
  rtl/aurora_flow.v.template.v
  rtl/aurora_flow_configuration.v
  rtl/aurora_flow_configuration_tb.v
  rtl/aurora_flow_control_s_axi.v
  rtl/aurora_flow_io.v
  rtl/aurora_flow_monitor.v
  rtl/aurora_flow_monitor_tb.v
  rtl/aurora_flow_nfc.v
  rtl/aurora_flow_nfc_tb.v
  rtl/aurora_flow_reset.v
  scripts/collect_all.sh
  scripts/run_N1.sh
  scripts/run_N1_over_all.sh
  scripts/run_N1_over_framesizes.sh
  scripts/run_N1_over_widths.sh
  scripts/run_N2.sh
  tcl/pack_kernel.tcl
Due: none

update .gitlab-ci.yml
  .gitlab-ci.yml
Due: tb:nfc, tb:monitor, tb:configuration, build:hlslib_test, build:hlslib_example

add throughput max to eval notebook
  eval/eval.ipynb
Due: none

remove trailing address
  host/Aurora.hpp
  rtl/aurora_flow_control_s_axi.v
Due: none

add helper function to print counters
  host/Aurora.hpp
Due: none

add testmode support
  aurora_flow_test_hw.cfg
  aurora_flow_test_sw_emu.cfg
  hls/dump.cpp
  hls/issue.cpp
  host/Configuration.hpp
  host/Kernel.hpp
  host/Results.hpp
  host/host_aurora_flow_test.cpp
  host_aurora_flow_test
  rtl/aurora_flow_define.v
  scripts/run_N1.sh
  scripts/run_N1_loopback.sh
  scripts/run_N1_pair.sh
  scripts/run_N1_ring.sh
  scripts/run_single_fpga.sh
Due: none

update .gitignore
  .gitignore
  host_aurora_flow_test
  rtl/aurora_flow_define.v
Due: none

reduce framesize where it would be too large in latency test
  eval/eval.ipynb
  host/Configuration.hpp
  host/Kernel.hpp
  host/Results.hpp
Due: none

test device id assignment
  Makefile
  host/Configuration.hpp
  host/Results.hpp
  host/host_aurora_flow_test.cpp
  scripts/run_N1_loopback.sh
Due: none

check link status
  Makefile
  env.sh
  host/Configuration.hpp
  host/host_aurora_flow_test.cpp
  scripts/2.14/run_acl0.sh
  scripts/2.14/run_acl1.sh
  scripts/2.14/run_acl2.sh
  scripts/2.15/run_acl0.sh
  scripts/2.15/run_acl1.sh
  scripts/2.15/run_acl2.sh
  scripts/2.16/run_acl0.sh
  scripts/2.16/run_acl1.sh
  scripts/2.16/run_acl2.sh
  scripts/run_single_fpga.sh
Due: none

remove mpi
  host/Configuration.hpp
  host/Kernel.hpp
  host/Results.hpp
  host/host_aurora_flow_test.cpp
  scripts/configure_loopback.sh
  scripts/configure_pair.sh
  scripts/configure_ring.sh
Due: none

starting to setup sw_emu
  Makefile
  aurora_flow_test_sw_emu.cfg
  aurora_flow_test_sw_emu_loopback.cfg
  aurora_flow_test_sw_emu_pair.cfg
  aurora_flow_test_sw_emu_ring.cfg
  host/Configuration.hpp
  host/Kernel.hpp
  host/Results.hpp
  host/host_aurora_flow_test.cpp
Due: none

use bdf for selecting device
  Makefile
  host/Configuration.hpp
  host/host_aurora_flow_test.cpp
Due: none

update ci for sw_emu
  .gitlab-ci.yml
  Makefile
Due: tb:nfc, tb:monitor, tb:configuration, build:hlslib_test, build:hlslib_example

fix hlslib version for emulation
  emulation/CMakeLists.txt
Due: build:hlslib_test, build:hlslib_example

update .gitlab-ci.yml
  .gitlab-ci.yml
  scripts/2.14/run_acl0.sh
  scripts/2.14/run_acl1.sh
  scripts/2.14/run_acl2.sh
  scripts/2.15/run_acl0.sh
  scripts/2.15/run_acl1.sh
  scripts/2.15/run_acl2.sh
  scripts/2.16/run_acl0.sh
  scripts/2.16/run_acl1.sh
  scripts/2.16/run_acl2.sh
  scripts/run_N1_loopback.sh
  scripts/run_N1_over_all.sh
  scripts/run_N1_over_framesizes.sh
  scripts/run_N1_over_widths.sh
  scripts/run_N1_pair.sh
  scripts/run_N1_ring.sh
  scripts/run_N2.sh
  scripts/run_loopback.sh
  scripts/run_over_all.sh
  scripts/run_pair.sh
  scripts/run_ring.sh
Due: tb:nfc, tb:monitor, tb:configuration, build:hlslib_test, build:hlslib_example

cleanup eval
  .gitattributes
  eval/data.csv
  eval/eval.ipynb
  eval/eval.jl
  eval/latency_over_frame_sizes.csv
  eval/latency_tests.csv
  eval/plot.ipynb
  eval/resources.csv
Due: none

update block diagram
  images/block_diagram.drawio.png
Due: none

update README.md
  README.md
  scripts/run_over_all_configs.sh
Due: none

use cxxopts
  .gitmodules
  README.md
  host/Configuration.hpp
  host/Results.hpp
  host/host_aurora_flow_test.cpp
Due: none

rename hls kernels
  Makefile
  aurora_flow_test_hw.cfg
  aurora_flow_test_sw_emu_loopback.cfg
  aurora_flow_test_sw_emu_pair.cfg
  aurora_flow_test_sw_emu_ring.cfg
  hls/recv.cpp
  hls/send.cpp
  host/Kernel.hpp
  host/host_aurora_flow_test.cpp
Due: none
