Repository pc2/Aurora-HLS: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

Path conditions:
  tb:nfc: any of: rtl/aurora_hls_nfc.v, rtl/aurora_hls_nfc_tb.v, tcl/run_nfc_tb.tcl, .gitlab-ci.yml
  tb:crc_counter: any of: rtl/aurora_hls_crc_counter.v, rtl/aurora_hls_crc_counter_tb.v, tcl/run_crc_counter_tb.tcl, .gitlab-ci.yml
  tb:configuration: any of: rtl/aurora_hls_configuration.v, rtl/aurora_hls_configuration_tb.v, tcl/run_configuration_tb.tcl, .gitlab-ci.yml
  build:hlslib_test: any of: emulation/**, .gitlab-ci.yml
  build:hlslib_example: any of: emulation/**, .gitlab-ci.yml

add run stage
  .gitlab-ci.yml
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

run build stage out of order
  .gitlab-ci.yml
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

fix typos
  .gitlab-ci.yml
  Makefile
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

set links after submission
  .gitlab-ci.yml
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

fix run stage
  .gitlab-ci.yml
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

only web also for run
  .gitlab-ci.yml
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

update dependency graph
  .gitlab-ci.yml
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

add benchmark stage
  .gitlab-ci.yml
  scripts/run_N1.sh
  scripts/run_latency_test.sh
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

fix run streaming
  .gitlab-ci.yml
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

add run:nfc_test and update deps
  .gitlab-ci.yml
  scripts/run_latency_test.sh
  scripts/run_nfc_test.sh
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

increase timeout for fpga run
  .gitlab-ci.yml
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

no semaphore by default
  scripts/run_latency_test.sh
Due: none

add synth stage
  .gitlab-ci.yml
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

make testbenches ready for ci
  .gitignore
  Makefile
  rtl/aurora_hls_configuration_tb.v
  rtl/aurora_hls_crc_counter_tb.v
  rtl/aurora_hls_nfc.v
  rtl/aurora_hls_nfc_tb.v
  tcl/run_configuration_tb.tcl
  tcl/run_crc_counter_tb.tcl
  tcl/run_nfc_tb.tcl
Due: tb:nfc, tb:crc_counter, tb:configuration

update .gitlab-ci.yml
  .gitlab-ci.yml
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

add more diagnostics to main test
  host/host_aurora_hls_test.cpp
Due: none

semaphore by default without deadlock
  README.md
  host/host_aurora_hls_test.cpp
Due: none

update synth_all script
  scripts/synth_all.sh
Due: none

add Results class
  host/host_aurora_hls_test.cpp
Due: none

more detailed error print
  host/host_aurora_hls_test.cpp
Due: none

print from Results class
  host/host_aurora_hls_test.cpp
Due: none

dump all the diagnostics
  host/host_aurora_hls_test.cpp
  scripts/run_N1.sh
Due: none

try to keep a similar runtime for every repetition in latency test
  host/host_aurora_hls_test.cpp
Due: none

filter drained and not responding nodes
  scripts/print_available_nodes.sh
Due: none

Revert "semaphore by default without deadlock"
  README.md
  host/host_aurora_hls_test.cpp
Due: none

reduce latency test script timeout
  scripts/run_latency_test.sh
Due: none

catch exceptions during benchmark
  host/host_aurora_hls_test.cpp
Due: none
