Repository pc2/Aurora-HLS: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tb:nfc, tb:monitor, tb:configuration, build:hlslib_test, build:hlslib_example

Path conditions:
  tb:nfc: any of: rtl/aurora_hls_nfc.v, rtl/aurora_hls_nfc_tb.v, tcl/run_nfc_tb.tcl, .gitlab-ci.yml
  tb:monitor: any of: rtl/aurora_hls_monitor.v, rtl/aurora_hls_monitor_tb.v, tcl/run_monitor_tb.tcl, .gitlab-ci.yml
  tb:configuration: any of: rtl/aurora_hls_configuration.v, rtl/aurora_hls_configuration_tb.v, tcl/run_configuration_tb.tcl, .gitlab-ci.yml
  build:hlslib_test: any of: emulation/**, .gitlab-ci.yml
  build:hlslib_example: any of: emulation/**, .gitlab-ci.yml

update output prints
  host/Configuration.hpp
  host/host_aurora_flow_test.cpp
Due: none

clone submodules in ci
  .gitlab-ci.yml
Due: tb:nfc, tb:monitor, tb:configuration, build:hlslib_test, build:hlslib_example

update benchmark stage
  .gitlab-ci.yml
  scripts/run_over_all_configs.sh
Due: tb:nfc, tb:monitor, tb:configuration, build:hlslib_test, build:hlslib_example

update README
  README.md
Due: none

more output
  README.md
  host/Configuration.hpp
  host/Kernel.hpp
  host/host_aurora_flow_test.cpp
Due: none

change hlslib version
  emulation/CMakeLists.txt
Due: build:hlslib_test, build:hlslib_example

working ring without ack
  Makefile
  aurora_flow_ring_hw.cfg
  env.sh
  hls/dump.cpp
  hls/send_recv.cpp
  host/Kernel.hpp
  host/host_aurora_flow_ring.cpp
  host_aurora_flow_ring
  scripts/synth.sh
Due: none

add scripts for scaling
  .gitignore
  host/host_aurora_flow_ring.cpp
  host_aurora_flow_ring
  scripts/run_pair_pressure.sh
  scripts/run_ring.py
  scripts/run_ring_template.sh
Due: none

write results to file
  host/host_aurora_flow_ring.cpp
  host_aurora_flow_ring
  scripts/run_ring_template.sh
Due: none

add send_recv kernel
  Makefile
  aurora_flow_recv_send_hw.cfg
  aurora_flow_send_recv_hw.cfg
  hls/recv_send.cpp
  hls/send_recv.cpp
  host/Kernel.hpp
  host/host_aurora_flow_ring.cpp
  host_aurora_flow_ring
  scripts/run_ring_template.sh
  scripts/synth.sh
Due: none
