Repository pc2/Aurora-HLS: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

tb:nfc:
  stage: testbench
  script:
  - make run_nfc_tb
  artifacts:
    paths:
    - nfc_tb.vcd
    - nfc_tb.wdb

tb:crc_counter:
  stage: testbench
  script:
  - make run_crc_counter_tb
  artifacts:
    paths:
    - crc_counter_tb.vcd
    - crc_counter_tb.wdb

tb:configuration:
  stage: testbench
  script:
  - make run_configuration_tb
  artifacts:
    paths:
    - configuration_tb.vcd
    - configuration_tb.wdb

build:hlslib_test:
  stage: build
  script:
  - cd emulation/test
  - mkdir build
  - cd build
  - cmake ..
  - make
  artifacts:
    paths:
    - emulation/test/build/aurora_emu_test
  needs: []

build:hlslib_example:
  stage: build
  script:
  - cd emulation/example
  - mkdir build
  - cd build
  - cmake ..
  - make
  artifacts:
    paths:
    - emulation/example/build/aurora_emu_example
  needs: []

move crc counter into monitor module
  Makefile
  rtl/aurora_hls.v.template.v
  rtl/aurora_hls_crc_counter.v
  rtl/aurora_hls_crc_counter_tb.v
  rtl/aurora_hls_monitor.v
  rtl/aurora_hls_monitor_tb.v
  tcl/create_ila_crc_counter_ip.tcl
  tcl/pack_kernel.tcl
Due: tb:crc_counter

handle not being in a git repo
  host/Results.hpp
Due: none

print tx/rx counter per message
  host/Results.hpp
Due: none

disable default axi drain on reset
  Makefile
Due: none

disable default nfc probe
  Makefile
Due: none

update images
  images/block_diagram.drawio.png
  images/reset_diagram.drawio.png
Due: none

smaller env and change to 2.14
  env.sh
Due: none

env for emulation
  emulation/env.sh
Due: build:hlslib_test, build:hlslib_example

update README
  README.md
  images/reset_diagram.drawio.png
Due: none

remove uncompatible old results
  eval/latency_tests.csv
  eval/simple_tests.csv
  eval/width_results.csv
Due: none

remove nfc ila
  Makefile
  tcl/create_ila_nfc_ip.tcl
  tcl/pack_kernel.tcl
Due: none

update scripts
  env.sh
  scripts/run_N1.sh
  scripts/run_N1_over_all.sh
  scripts/run_N1_over_framesizes.sh
  scripts/run_N1_over_widths.sh
  scripts/run_N2.sh
Due: none

reorder Aurora helper functions
  host/Aurora.hpp
Due: none

update results
  eval/latency_tests.csv
Due: none

plot streaming and framing
  eval/data.csv
  eval/eval.ipynb
  eval/plot.ipynb
Due: none

plot over frame sizes
  eval/eval.ipynb
  eval/latency_over_frame_sizes.csv
  eval/plot.ipynb
Due: none

add latency counter to nfc module
  rtl/aurora_hls_nfc.v
  rtl/aurora_hls_nfc_tb.v
Due: tb:nfc

add nfc latency count to control register
  host/Aurora.hpp
  host/host_aurora_hls_test.cpp
  rtl/aurora_hls.v.template.v
  rtl/aurora_hls_control_s_axi.v
Due: none

Update plots and UDP results
  eval/data.csv
  eval/plot.ipynb
Due: none

add counter reset to nfc module
  rtl/aurora_hls.v.template.v
  rtl/aurora_hls_monitor.v
  rtl/aurora_hls_nfc.v
  rtl/aurora_hls_nfc_tb.v
Due: tb:nfc

print config in results
  host/Results.hpp
  host/host_aurora_hls_test.cpp
Due: none

add nfc test results
  eval/nfc_tests.csv
Due: none

update latency test results
  eval/latency_tests.csv
Due: none

optimize output beauty
  host/Results.hpp
Due: none

eval nfc latency
  eval/eval.ipynb
  eval/latency_over_frame_sizes.csv
Due: none

update .gitlab-ci.yml
  .gitlab-ci.yml
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

fix emu:xrt
  .gitlab-ci.yml
  host/Results.hpp
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

update README.md
  README.md
Due: none

add resources plot
  .gitignore
  eval/plot.ipynb
  eval/resources.csv
Due: none

check for maximum nfc latency
  host/Results.hpp
  rtl/aurora_hls.v.template.v
  rtl/aurora_hls_nfc.v
  rtl/aurora_hls_nfc_tb.v
  tcl/run_nfc_tb.tcl
Due: tb:nfc

update results
  eval/data.csv
  eval/latency_tests.csv
  eval/nfc_tests.csv
Due: none

update evaluation
  eval/eval.ipynb
  eval/latency_over_frame_sizes.csv
Due: none

nfc test only with largest message size
  .gitlab-ci.yml
Due: tb:nfc, tb:crc_counter, tb:configuration, build:hlslib_test, build:hlslib_example

update plots
  eval/data.csv
  eval/plot.ipynb
Due: none

update results
  eval/latency_tests.csv
  eval/resources.csv
Due: none

update b_eff data
  eval/data.csv
Due: none

reduce internal stream depth
  hls/dump.cpp
  hls/issue.cpp
Due: none

use dataflow region
  hls/dump.cpp
  hls/issue.cpp
Due: none

Path conditions:
  tb:nfc: any of: rtl/aurora_hls_nfc.v, rtl/aurora_hls_nfc_tb.v, tcl/run_nfc_tb.tcl, .gitlab-ci.yml
  tb:crc_counter: any of: rtl/aurora_hls_crc_counter.v, rtl/aurora_hls_crc_counter_tb.v, tcl/run_crc_counter_tb.tcl, .gitlab-ci.yml
  tb:configuration: any of: rtl/aurora_hls_configuration.v, rtl/aurora_hls_configuration_tb.v, tcl/run_configuration_tb.tcl, .gitlab-ci.yml
  build:hlslib_test: any of: emulation/**, .gitlab-ci.yml
  build:hlslib_example: any of: emulation/**, .gitlab-ci.yml
